  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color:lightgrey;
    }

    main {
      flex: 1 0 auto;
    }

  p {
    color: blue;
    font-weight: bolder;
    font-style: oblique;
    font-size: 200%;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  .favoriteList{
    display: flex;
    flex-direction: row;
  }
  .row{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
  }
.page-footer{
  padding-top: 0px;
  margin: 0em;
}
